<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections />
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--  cert one. -->
    <!--<add key="ConString" value="Provider=OraOLEDB.Oracle;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.4.5)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = orcl))); User Id= DTLMS_LIVE; password="/>-->

    <!--TESTING DB-->

    <add key="constring" value="provider=oraoledb.oracle;data source=(description =(address_list =(address = (protocol = tcp)(host =192.168.6.14)(port = 1521)))(connect_data =(service_name = orcl))); user id=C##CESCDTLMS_03282023; password=" />

    <!--UAT-->
    <!--<add key="constring" value="provider=oraoledb.oracle;data source=(description =(address_list =(address = (protocol = tcp)(host =192.168.13.197)(port = 1521)))(connect_data =(service_name = orcl))); user id=C##CESCDTLMS_02082023; password=" />-->

    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <!--TESTING SFTP-->
    <!--<add key="SFTPPath" value="123.201.255.126" />
    <add key="SFTPmainfolder" value="DTLMSFiles/" />
    <add key="SFTPmainfolder1" value="DTLMSImages/" />-->

    <add key="SFTPmainfolder" value="DTLMSFiles/" />
    <add key="SFTPmainfolder1" value="CESCDTLMSImages/" />
    <add key="SFTPPath" value="192.168.6.18" />

    <!--LIVE SFTP-->
    <!-- <add key="SFTPPath" value="117.254.90.102" /> -->
    <!-- <add key="SFTPmainfolder" value="DTLMSFiles/" /> -->
    <!-- <add key="SFTPmainfolder1" value="DTLMSImages/" /> -->

    <add key="ErrorMsg" value="ON" />
    <add key="SendEmail" value="OFF" />
    <add key="SendSMS" value="ON" />
    <add key="Approval" value="ON" />
    <add key="AccessRights" value="ON" />
    <add key="CommonLogin" value="OFF"/>
    <add key="CommonErrorPath" value="http://122.166.210.150:1847/ErrorPages/error-500.htm"/>
    <add key="SingleSignInchangepassword" value="http://122.166.210.150:1107/SvcHRMS.svc/SingleSignInChangePassword/"/>
    <add key="SaveRoleDetails" value="http://122.166.210.150:1107/SvcHRMS.svc/SaveRoleDetails/"/>
    <add key="CommonLoginPath" value="http://122.166.210.150:1847/"/>
    <add key="CommonLogoutPath" value="http://122.166.210.150:1847/login/SingleSignINLogOut"/>
    <add key="FMSLoginPath" value="http://192.168.6.123:2024/login/FMSSigleSignUP"/>
    <add key="MMSLoginPath" value="http://192.168.6.18:2090/Account/CommonApplicationLogin"/>
    <add key="HRMSLoginPath" value="http://192.168.6.18:9047/login/HRMSSingleLogin"/>
    <add key="TRMLoginPath" value="http://192.168.6.18:1155/Login/TRM_Login"/>
    <add key="DTLMSLoginPath" value="http://192.168.6.18:1302/Login.aspx"/>

    <add key="NamePlateFolder" value="NamePlate" />
    <add key="SSPlateFolder" value="SSPlate" />
    <add key="OldCodeFolder" value="OldCode" />
    <add key="IPEnumCodeFolder" value="IPEnumCode" />
    <add key="DTLMSCodeFolder" value="DTLMSCode" />
    <add key="InfosysCodeFolder" value="InfosysCode" />
    <add key="DTCPhoto" value="DTCPhoto" />
    <add key="TempDTCCodePhoto1" value="TempDTC1" />
    <add key="TempDTCCodePhoto2" value="TempDTC2" />
    <add key="FileFormat" value=";jpg;jpeg;png;gif;" />
    <add key="NotAllowFileFormat" value=";zip;exe;rar;DMP;msi;" />
    <add key="SQLLiteDB" value="//192.168.4.2/DEV_Download/" />
    <add key="VENDOR_USERNAME" value="ideainfinity" />
    <add key="VENDOR_PASS" value="Iiits@easypay" />
    <add key="VENDOR_SENDERID" value="DTCLMS" />
    <add key="DtrMakeWiserpt" value="15" />
    <add key="EmployeeCost" value="20" />
    <add key="ESI" value="17" />
    <add key="ServiceTax" value="18" />
    <add key="CGST" value="9" />
    <add key="SGST" value="9" />
    <add key="Percentage" value="82"/>
    <add key="AmtRate" value="3.54"/>
    <add key="DecomLabourCost" value="0.9" />
    <add key="LTROLEID" value="32"/>
    <add key="MtrManufacturestartyear" value="1990"/>
    <add key="Securethreadthrough" value="4"/>
    <add key="Inbuiltct" value="8"/>
    <add key="LTROLEID" value="32"/>
    <add key="MtrManufacturestartyear" value="1990"/>
    <add key="Securethreadthrough" value="4"/>
    <add key="Inbuiltct" value="8"/>
    <add key="Reclaimed_oil_itemcode" value="601410"/>
    <add key="EHV_Grade_Transformer_oil_itemcode" value="601400"/>
    <!--<add key="MMS_Redirect_Path" value="http://123.201.255.165:2002/"/>-->
    <add key="MMS_Redirect_Path" value="http://192.168.4.123:2000/" />
    <add key="Iticket_url_path" value="http://192.168.4.23:1020/" />
    <add key="dHost" value="2016-02-24" />
    <add key="LOGFILEPATH" value="D:\ERRORLOG\" />
    <add key="LOGFILEPATHDEV" value="D:\DTLMS_ERRORLOG\DEVREFERRORLOG\" />
    <add key="LOGTOFILE" value="ON" />
    <add key="SELECTEDUSER" value="39,869,977,976,978,850" />
    <add key="VaildationOfDtcDtr" value="FALSE" />
    <add key="ValidateCRCompletion" value="FALSE" />
    <add key="SMStoForgotPwd" value="Hi {0} ,Your password to login to DTLMS is {1}" />
    <add key="SMStoUserSuccCreat" value="DTC Life Cycle Management System, Dear Sir/Madam {0}, Your User Name is: {1} and Your Password is: {2},  Note: Please Change Your Password-Team DTLMS" />
    <add key="SMStoFailure" value="Dear Sir/Madam,DTC Code {0}, Failure Entry and Estimation is approved by AEE,log on to www.cescdtlms.com for further action-Team DTLMS" />
    <add key="SMStoWorkOrder" value="Dear Sir/Madam,DTC Code {0},DTC Name {2},WO No {1} is approved by division officer,you may proceed further Indent,log on to www.cescdtlms.com-Team DTLMS" />
    <add key="SMStoRI" value="Dear Sir/Madam,Your RI No {0},DTr No {1}, submitted at {2} Store is accepted by store officer,you may proceed further for CR-Team DTLMS" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="SMStoFailureCreate" value="Dear Sir/Madam,Failure Entry is created for DTC Code {0} by SO,log on to www.cescdtlms.com for further action-Team DTLMS" />
    <add key="SMStoWorkOrderCreate" value="Dear Sir/Madam,Work Order created for DTC Code {0},DTC Name {1} has been approved,log on to www.cescdtlms.com for further action-Team DTLMS" />
    <add key="SMStoIndentCreate" value="Dear Sir/Madam,Indent is Created for DTC Code {0},DTC Name {2},WO No {1} by SO,you may proceed further,log on to www.cescdtlms.com-Team DTLMS" />
    <add key="SMStoIndent" value="Dear Sir/Madam,Indent is Approved for DTC Code {0},WO No {1},Indent No {2},you may proceed further,log on to www.cescdtlms.com-Team DTLMS" />
    <add key="SMStoInvoice" value="Dear Sir/Madam,Invoice is Created by Store Keeper for Indent No {0},Invoice No {1},you may proceed further,log on to www.cescdtlms.com-Team DTLMS" />
    <add key="SMStoDecommCreate" value="Dear Sir/Madam,Decommission is Created by SO for DTC Code {0},DTr Code {1},you may proceed further,log on to www.cescdtlms.com-Team DTLMS" />
    <add key="SMStoDecomm" value="Dear Sir/Madam,Decommission is Approved for Invoice No {0},RI No {1}, you may proceed further,log on to www.cescdtlms.com-Team DTLMS" />
    <add key="SMStoRICreate" value="Dear Sir/Madam,Your RI No {0},DTr Code {1} Submitted to Store,you may proceed further,log on to www.cescdtlms.com-Team DTLMS" />
    <add key="SMStoCRCreate" value="Dear Sir/Madam,CR for RI No {0},Faulty DTr Code {1},Replaced DTr Code {2} has been approved,log on to www.cescdtlms.com-Team DTLMS" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="MissMatchRemarks" value="Mismatch Entry is done based on Mr./Mrs      with Designation       Orders given on date  , MOB NO    and Ticket Number  " />
    <add key="AllocatedRemarks" value="New Allocation Entry is done based on Mr./Mrs      with Designation       Orders given on date  , MOB NO    and Ticket Number " />
    <add key="SMStoWorkOrderApprover" value="Dear Sir/Madam,DTC Code {0},DTC Name {1} is approved by {2},you may proceed further Indent,log on to www.cescdtlms.com-Team DTLMS" />
    <add key="SMStoReject" value="Dear Sir/Madam,{0} for DTC Code {1}, had Rejected by {2},log on to www.cescdtlms.com for further action-Team DTLMS" />
    <add key="DebuggerPath" value="D:\DTLMSDebugger" />
    <add key="FTP_APK_PATH" value="/dtlms external apk downloads/" />
    <add key="FTP_HOST" value="sftp://117.254.90.102:22/dtlms external apk downloads/" />
    <add key="FTP_USER" value="FTP_EASYPAY" />
    <add key="FTP_PASS" value="Idea@2016" />
    <add key="ApkFileName" value="/DTLMS.rar" />
    <add key="FTP_PORT" value="21" />
    <add key="AdminRole" value="8" />
    <add key="SupAdminRole" value="11" />
    <add key="TrackLead" value="15" />
    <!--<add key="VirtualDirectoryPath" value="http://117.254.90.101:74/INTERNAL_PHOTOS/"/>-->
    <!-- <add key="VirtualDirectoryPath" value="http://192.168.6.18:1990/DTLMSIMAGES/" /> -->
    <add key="VirtualDirectoryPath" value="http://192.168.6.18:1301/CESCDTLMSImages/"/>
    <add key="LOGS" value="D:\LOGS\" />
    <add key="SessionWarning" value="20" />
    <add key="LoginAttempts" value="5" />
    <add key="LoginAttemptsTimeRange" value="900" />
    <add key="LoginAttemptsApply" value="2" />
    <add key="SMStoOTP" value="Hi {0} ,Use OTP {1} as DTLMS account password Reset" />
    <add key="TotalSeconds" value="60" />
    <add key="MYSOREZONE" value="1" />
    <add key="HASSANZONE" value="2" />
    <add key="INS_RESULTWITHPASS" value="5,6,7" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<sessionState timeout="20" cookieName="AuthToken"></sessionState>-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Versions=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpRuntime maxRequestLength="2000000000" executionTimeout="999999" />
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <!-- <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="sameorigin"/>
        <remove name="X-Content-Type-Options"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
      </customHeaders>
    </httpProtocol> -->
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
    <defaultDocument enabled="true">
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService11" />
        <binding name="BasicHttpBinding_IService1" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
        <binding name="BasicHttpBinding_IERPService" />
      </basicHttpBinding>
    </bindings>



    <client>

      <!--TESTING-->
      <endpoint address="http://192.168.6.123:2067/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="DtmmsWebService.IService1" name="BasicHttpBinding_IService1"/>
      <endpoint address="http://192.168.4.25:9990/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="TRM_Service.IService1" name="BasicHttpBinding_IService11" />
      <endpoint address="http://192.168.6.123:2062/ERPService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IERPService" contract="ERPService.IERPService" name="BasicHttpBinding_IERPService" />

      <!--UAT-->

      <!--<endpoint address="http://192.168.4.17:2056/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="DtmmsWebService.IService1" name="BasicHttpBinding_IService1"/>
      <endpoint address="http://192.168.4.25:9915/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="TRM_Service.IService1" name="BasicHttpBinding_IService11" />
      <endpoint address="http://192.168.4.17:2063/ERPService.svc"  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IERPService"  contract="ERPService.IERPService" name="BasicHttpBinding_IERPService" />-->


    </client>
  </system.serviceModel>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/img/ERROR.png" />
  </system.web>
</configuration>
